<div id="content">
  <div class="adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- RandomImage -->
    <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-9646834340680693"
           data-ad-slot="1854367857"></ins>
         <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>


  <%= image_tag @image.image_url  %>
  <br/>
  <%= @image.image_url %>
  <%= @image.original_url %>
  </br><br/>
  <%= @image.image_source %>
  </br><br/>
  <%= @image.owner_name %>
  </br><br/>
  <%= @image.owner_link %>
  </br><br/>
  <%= @image.cc_code %>
  <div class="adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- RandomImage_Mobile -->
    <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:50px"
           data-ad-client="ca-pub-9646834340680693"
           data-ad-slot="7621699852"></ins>
         <script>
(adsbygoogle = window.adsbygoogle || []).push({});
         </script>


  </div>
</div>

