<div id="content">
  <div class="adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Exo_image -->
    <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-9646834340680693"
           data-ad-slot="7500288655"></ins>
         <script>
(adsbygoogle = window.adsbygoogle || []).push({});
         </script>
  </div>


  <div about="<%= @image.image_url%>" > 
    <div class="image_content">
      <%= link_to (image_tag @image.image_url, alt: "IMG"), unlimite_exos_path  %>
    </div>

    <!--
    </br><br/>
    <div class="cc-image-div">
      <% if @image.cc_code == 1 %>
        <%= image_tag "ccby.png", alt: "CC-BY", class: "cc-image" %>
      <% elsif @image.cc_code == 2 %>
        <%= image_tag "ccbynd.png", alt: "CC-BY-ND", class: "cc-image" %>
      <% elsif @image.cc_code == 3 %>
        <%= image_tag "ccbysa.png", alt: "CC-BY-SA", class: "cc-image" %>
      <% else %>
      <% end %>
    </div>

    <div class="license-text">
      Entitled <span property="dct:title"><%= link_to @image.owner_name, @image.owner_link  %> </span> <br/>
    </div>
-->
  </div>

  <div class="adsense">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Exo_image_bottom -->
    <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-9646834340680693"
           data-ad-slot="8977021854"></ins>
         <script>
(adsbygoogle = window.adsbygoogle || []).push({});
         </script>

  </div>
  <!--
  <div class="license-text">
    These Photo Licensed CC-BY, CC-BY-ND, CC-BY-SA by <a href="http://creativecommons.org/" property="cc:attributionName" rel="cc:attributionURL dct:creator">Creative Commons</a> <br/>
    under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"> Creative Commons Attribution 3.0 Unported License</a>. </div>
  </div>
-->
</div>
